*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
    font-family: 'Noto Sans', sans-serif;
}

#social{
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

font{
    float: left;
    letter-spacing: 2px;
}

span{
    font-size: 12px;
    letter-spacing: 1px;
}

#social>i{
    margin-right: 15px;
}
#social>i:hover{
    opacity: 0.8;
    
}

#container{
    width: 80%;
    margin: auto;
    height: auto;
}
header{
    width: 100%;
    height: 250px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    background-color: black;
    margin-bottom: 5px;
}

#headerResim{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}

#centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}