*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
    font-family: 'Noto Sans', sans-serif;
}

#social{
    background-color: black;
    color: white;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 15px;
}

font{
    float: left;
    letter-spacing: 2px;
}

span{
    font-size: 12px;
    letter-spacing: 1px;
}

#social>i{
    margin-right: 15px;
}
#social>i:hover{
    opacity: 0.8;
    
}